{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        <span>{{ .Date.Format "2006-01-02" }}</span>|
                        <span> Category: {{ delimit .Params.category ", " }}</span> <!-- |
                        <span> website:
                            <a href="{{ .Params.liveLink }}">{{ .Params.liveLink }}</a>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-content">
                {{ with .Params.image }}
                <div class="work-single-image">
                    <!-- Work Single Image -->
                    <img class="img-fluid w-100" src="{{ . | absURL }}" alt="work-single-image">
                </div>
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content">
                    <!-- <span class="ion-ios-moon" onclick="setDarkMode(false)"></span>
                    <span class="ion-ios-sunny" onclick="setDarkMode(true)"></span> -->
                    <div style="margin: 0 0 30px 10px;">
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label class="label" for="checkbox">
                            <i class="ion-ios-moon"></i>
                            <i class="ion-ios-sunny"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
                    {{ . }}
                </div>
                {{ end }}
                {{ with .Permalink }}<a href="/portfolio/" class="btn btn-dafault btn-details hvr-bounce-to-right" style="margin-bottom:15px"> Kembali </a>{{ end }}
            </div>
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="work-single-sidebar">
                    {{ with .Params.client }}
                    <h5>Penulis</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ with .Params.submitDate }}
                    <h5>Tanggal</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    <h5>Kategori</h5>
                    <h6>{{ if ne .Params.category nil }} {{ delimit .Params.category ", " }}</h6>
                    {{ end }}
                    {{ with .Params.location }}
                    <h5>Lokasi</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}