
{{ define "main"}}
<main id="main">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div id="success" class="success" style="margin-top: 2em;">
                    Thank You! <br>
                    <p style="margin-top: 2em;">Tunggu ya pesan anda sedang dalam perjalanan. &#128521;</p>
                </div>

                <div id="error" class="error" style="margin-top: 2em;">
                    Maaf! &#128531;
                    <p style="margin-top: 2em;">telah terjadi kesalahan. Coba lagi nanti. &#128531;</p> <br>
                    Atau hubungi saya melalui tautan berikut: <a href="http://ini.space/agungprsty">disini</a>. 
                </div>
                <!-- <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="ion-home"></span>
                        Take Me Home </a>
                    <a href="/contact/" class="btn btn-default btn-lg" style="
                    background: aliceblue;
                "><span class="icon ion-email"></span> Contact Support </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
</main>
{{ end }}